# Canonical author identities for git shortlog / blame.
John Hoffman <johnh2o2@gmail.com> John Hoffman <johnhoffman@Johns-MacBook-Pro.local>
John Hoffman <johnh2o2@gmail.com> John <johnh2o2@gmail.com>
John Hoffman <johnh2o2@gmail.com> John Hoffman <jah5@princeton.edu>
John Hoffman <johnh2o2@gmail.com> John <jah5@princeton.edu>
John Hoffman <johnh2o2@gmail.com> John Hoffman <johnhoffman@fb.com>
John Hoffman <johnh2o2@gmail.com> John <johnhoffman@fb.com>
John Hoffman <johnh2o2@gmail.com> John Hoffman <john.hoffman@xaxis.com>
John Hoffman <johnh2o2@gmail.com> John Hoffman <john.hoffman@strong.io>
Attila Bódi <astrobatty@gmail.com> astrobatty <astrobatty@gmail.com>
Michael Coughlin <coughlim@carleton.edu> Michael Coughlin <michael.coughlin@ligo.org>
